table.forum {
    background-color: #FFFFFF;
    border-color: #46357C;
    border-right: 2px solid #46357C;
    border-style: solid;
    border-width: 2px;
  th{
    background-color: #46357C;
    color: #EFEFEF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
  };}; 
